* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: antiquewhite;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  max-width: 600px;
}

form fieldset {
  margin-bottom: 20px;
}

form div {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

form button {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 8px;
}

form button:hover {
  background-color: greenyellow;
}

.modal {
  background-color: greenyellow;
  max-width: 600px;
  width: 100%;
  padding: 10px;
  font-size: larger;
}

.user-info {
  display: flex;
  flex-direction: column;
}
